<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-12" style="text-align: center;">
				<img src="{% static 'image/warning.png' %}" alt="" style="width: 50%; height: auto;">
				<h5>Sorry, you are trying to transfer data that we did not want. Please <a href="\" title="">come back</a></h5>
			</div>
		</div>
	</div>
</body>
</html>