<div class="container-fluid" style="background-color: #DCDEF7;">
	<div class="container-xl">
		<div class="row">
			<div class="col-xl-6 col-12" style="margin-top: 40px; margin-bottom: 40px;">
				<h3>Contact Me &</h3>
				<h3>Let's Get Started</h3>
			</div>
			<div class="col-xl-6 col-12" style="margin-top: 40px; margin-bottom: 40px;">
				<form class="row" action="#" method="POST">
					<div class="form-group col-6">
						<label for="exampleInputEmail1">First name</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
					</div>
					<div class="form-group col-6">
						<label for="exampleInputEmail1">Last name</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
					</div>
					<div class="form-group col-12">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
					</div>
					<div class="form-group col-12">
						<label for="exampleInputEmail1">Message</label>
						<textarea name="" class="form-control" required></textarea>
					</div>
					<div class="col-12" style="text-align: center;">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>