<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<meta charset ="utf-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="row header_learn">
					<div class="col-12">
						<span class="fa fa-book" style="font-size: 26px; color: #2980b9;"></span>
					</div>
					<div class="col-12">
						Learn
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row header_learn">
					<div class="col-12" style="color: #2980b9; font-weight: bold;">
						New words remaining
					</div>
					<div class="col-12">
						<div class="progress" style="background-color: white;">
							<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row header_learn" style="color: #e67e22; font-weight: bold;">
					<div class="col-12">
						Number of wrong answers
					</div>
					<div class="col-12" id="wrongAnswers">
						0
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row header_learn" style="color: #2ecc71; font-weight: bold;">
					<div class="col-12">
						Number of correct answers
					</div>
					<div class="col-12" id="correctAnswers">
						0
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top: 20px; border-top: 10px solid #3498db;">
		<div class="row" style="height: 500px; background-color: white">
			<div class="col-12" style="height: 400px;">
				<h3 id="newWord"></h3>
			</div>
			<div class="col-12" style="height: 100px;">
				<div class="row" style="text-align: center;">
					<div class="col-10">
						<input type="text" class="form-control" placeholder="Your answer" id="answerWrite">
					</div>
					<div class="col-2">
						<button type="button" class="btn btn-primary" style="width: 100%" onclick="checkWrite()">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var countNewWord = 0;
		var correctAnswers = 0;
		var wrongAnswers = 0;
		items = new Array;
		items[0] = new Array();
		items[1] = new Array();
		{% for i in newWord %}
		items[0].push("{{i.Definition}}")
		items[1].push("{{i.Term}}")
		{% endfor %}
		function checkWrite()
		{
			var inputWrite = document.getElementById('answerWrite').value;
			if(items[1][countNewWord].toLowerCase().trim() == inputWrite.toLowerCase().trim())
			{
				plusPoints(items[1][countNewWord].toLowerCase().trim(), {{CategoryID_id}});
				correctAnswers++;
				countNewWord++;
				document.getElementById("correctAnswers").innerText = correctAnswers;
			}
			else
			{
				subtractPoints(items[1][countNewWord].toLowerCase().trim(), {{CategoryID_id}});
				wrongAnswers++;
				countNewWord++;
				document.getElementById("wrongAnswers").innerText = wrongAnswers;
			}
			document.getElementById('answerWrite').value = "";
			setTimeout(displayWrite, 1000);
		}
		function displayWrite()
		{
	// Display thanh New words remaining
	var remaining = Math.ceil(countNewWord / items[0].length * 100);
	document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:" + remaining + "%");
	document.getElementsByClassName("progress-bar")[0].innerText = remaining + "%";
	if(countNewWord == items[0].length)
	{
		alert("aaaaaaaaaaa");
		setTimeout(endWrite, 500);
	}
	else
	{
		//display new word
		document.getElementById('newWord').innerText = items[0][countNewWord];
	}
}
displayWrite();
function endWrite(){
	location.reload();
}
function plusPoints(Term, CategoryID_id){
	var xhttp;
	if (Term == "") {
		document.getElementById("Category").innerHTML = "";
		return;
	}
	xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {

		}
	};
	xhttp.open("GET", "/plusPoints/"+Term+"/"+CategoryID_id, true);
	xhttp.send();

}
function subtractPoints(Term, CategoryID_id){
	var xhttp;
	if (Term == "") {
		document.getElementById("Category").innerHTML = "";
		return;
	}
	xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {

		}
	};
	xhttp.open("GET", "/subtractPoints/"+Term+"/"+CategoryID_id, true);
	xhttp.send();

}
</script>
</body>
</html>