<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<meta charset ="utf-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<style>
		.definitionLearn{
			height: 70%;
		}
		.meansLearn{
			height: 30%;
		}
		.choice{
			margin-bottom: 10px;
		}
		@media only screen and (max-width: 600px) {
			.definitionLearn{
				height: 60%;
			}
			.meansLearn{
				height: 40%;
			}
		}
	</style>
</head>
<body>
	{% include "toolbarUser.html" %}
	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<div class="col-sm-3 col-12">
				<div class="row" style="text-align: center;">
					<div class="col-sm-12 col-3">
						
					</div>
					<div class="col-sm-12 col-3">
						<span class="fa fa-book" style="font-size: 26px; color: #2980b9;"></span>
					</div>
					<div class="col-sm-12 col-3">
						Learn
					</div>
					<div class="col-sm-12 col-3">
						
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-12">
				<div class="row header_learn">
					<div class="col-12" style="color: #2980b9; font-weight: bold;">
						New words remaining
					</div>
					<div class="col-12">
						<div class="progress" style="background-color: white;">
							<div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">6/10</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-12">
				<div class="row header_learn" style="color: #e67e22; font-weight: bold;">
					<div class="col-12">
						Number of wrong answers
					</div>
					<div class="col-12" id="wrongAnswers">
						0
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-12">
				<div class="row header_learn" style="color: #2ecc71; font-weight: bold;">
					<div class="col-12">
						Number of correct answers
					</div>
					<div class="col-12" id="correctAnswers">
						0
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top: 20px; border-top: 10px solid #3498db;" id="choice">
		<div class="row" style="height: 500px; background-color: white">
			<div class="col-12 definitionLearn">
				<h3 id="newWord"></h3>
			</div>
			<div class="col-12 meansLearn">
				<div class="row" style="text-align: center;">
					<div class="col-sm-3 col-12 choice">
						<button type="" class="btn btn-light button_mean" onclick="check(this.innerHTML)"></button>
					</div>
					<div class="col-sm-3 col-12 choice">
						<button type="" class="btn btn-light button_mean" onclick="check(this.innerHTML)"></button>
					</div>

					<div class="col-sm-3 col-12 choice">
						<button type="" class="btn btn-light button_mean" onclick="check(this.innerHTML)"></button>
					</div>

					<div class="col-sm-3 col-12 choice">
						<button type="" class="btn btn-light button_mean" onclick="check(this.innerHTML)"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="margin-top: 20px; border-top: 10px solid #3498db;" id="write">
		<div class="row" style="height: 500px; background-color: white">
			<div class="col-12" style="height: 400px;">
				<h3 id="newWord_write"></h3>
			</div>
			<div class="col-12" style="height: 100px;">
				<div class="row" style="text-align: center;">
					<div class="col-10">
						<input type="text" class="form-control" placeholder="Your answer" id="answerWrite">
					</div>
					<div class="col-2">
						<i class="material-icons send" onclick="checkWrite()">send</i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 	<script src="{% static 'js/learn.js' %}"></script> -->
	<script>
		var countNewWord = 0;
		var correctAnswers = 0;
		var wrongAnswers = 0;
		items = new Array;
		items[0] = new Array();
		items[1] = new Array();
		{% for i in newWord %}
		items[0].push("{{i.Definition}}")
		items[1].push("{{i.Term}}")
		{% endfor %}
		/*Random tro choi */
		function randomGameParent(){
			arrRandomGame = new Array;
			arrRandomGame[0] =  new Array("write", "choice");
			function randomGame(items)
			{
				var random = Math.floor(Math.random()*items.length)
				var value = items[random]
				items.splice(random, 1);
				return value;
			}
			var randomGame = randomGame(arrRandomGame[0]);
			if(randomGame == "write")
			{
				document.getElementById("write").style.display = "block";
				document.getElementById("choice").style.display = "none";
				displayWrite();
			}
			if(randomGame == "choice")
			{
				document.getElementById("choice").style.display = "block";
				document.getElementById("write").style.display = "none";
				learn();
			}
		}
		randomGameParent();

		function learn()
		{	
	// Display thanh New words remaining
	var remaining = Math.ceil(countNewWord / items[0].length * 100)
	document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:" + remaining + "%");
	document.getElementsByClassName("progress-bar")[0].innerText = remaining + "%";
			// Đổi màu quay trở lại ban đầu
			var button_mean = document.getElementsByClassName("button_mean");
			for(var i = 0; i < button_mean.length; i++)
			{
				button_mean[i].style.backgroundColor = "#ecf0f1";
			}
			function random_item(items)
			{
				var random = Math.floor(Math.random()*items.length)
				var value = items[random]
				items.splice(random, 1);
				return value;
			}
			function random_4_word(items)
			{
				var random = Math.floor(Math.random()*items.length)
				var value = items[random]
				items.splice(random, 1);
				return value;
			}

			items[0] = new Array();
			items[1] = new Array();
			//Array 3 là nguyên bản nghĩa của các từ tiếng anh không bị chỉnh sửa, mảng này dùng để kiểm tra kết quả người
			items[3] = new Array();
			{% for i in newWord %}
			items[0].push("{{i.Definition}}")
			items[1].push("{{i.Term}}")
			items[3].push("{{i.Term}}")
			{% endfor %}


			// Display new word
			document.getElementById("newWord").innerText = items[0][countNewWord];
			// Tạo ra một mảng mới chứa từ có nghĩa đúng
			items[2] = new Array(items[1][countNewWord])
			// xóa từ có nghĩa đúng ra khỏi mảng
			items[1].splice(countNewWord, 1);
			// Thêm 3 từ ngẫu nhiên còn lại vào trong mảng
			for(var i = 0; i < 3; i++){
				items[2].push(random_item(items[1]))
			}
			// xáo trộn 4 từ trong mảng 2 với nhau và sau đó hiển thị lên màn hình
			for(var i = 0; i < 4; i++){
				document.getElementsByClassName("button_mean")[i].innerText = random_4_word(items[2]);
			}
		}
		function check(mean)
		{
			var button_mean = document.getElementsByClassName("button_mean");
			// chuyển màu cho button chứa nghĩa đúng
			for(var i = 0; i < button_mean.length; i++)
			{
				if(button_mean[i].innerText == items[3][countNewWord])
				{
					button_mean[i].style.backgroundColor = "#3498db";
				}
			}
			if(items[3][countNewWord].toLowerCase().trim() == mean.toLowerCase().trim())
			{
				plusPoints(items[3][countNewWord].toLowerCase().trim(), {{CategoryID_id}});
				correctAnswers++;
				// Hien thi cau tra loi dung
				document.getElementById("correctAnswers").innerText = correctAnswers;
				countNewWord ++;
				if(countNewWord < items[0].length)
				{
					setTimeout(learn, 1000);
				}
				else
				{
					// Display thanh New words remaining
					var remaining = Math.ceil(countNewWord / items[0].length * 100)
					document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:" + remaining + "%");
					document.getElementsByClassName("progress-bar")[0].innerText = remaining + "%";
					setTimeout(end, 1000);
				}
				randomGameParent();
			}
			else
			{
				subtractPoints(items[3][countNewWord].toLowerCase().trim(), {{CategoryID_id}});
				wrongAnswers++;
				document.getElementById("wrongAnswers").innerText = wrongAnswers;
				countNewWord++; 
				if(countNewWord < items[0].length)
				{
					setTimeout(learn, 1000);
					
				}
				else
				{
					// Display thanh New words remaining
					var remaining = Math.ceil(countNewWord / items[0].length * 100)
					document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:" + remaining + "%");
					document.getElementsByClassName("progress-bar")[0].innerText = remaining + "%";
					setTimeout(end, 3000);
				}
				randomGameParent();
			}
		}
		/*function cua write*/
		function checkWrite()
		{
			var inputWrite = document.getElementById('answerWrite').value.trim();
			if(items[1][countNewWord].toLowerCase().trim() == inputWrite.toLowerCase().trim())
			{
				plusPoints(items[1][countNewWord].toLowerCase().trim(), {{CategoryID_id}});
				correctAnswers++;
				countNewWord++;
				document.getElementById("correctAnswers").innerText = correctAnswers;
				randomGameParent();
			}
			else
			{
				subtractPoints(items[1][countNewWord].toLowerCase().trim(), {{CategoryID_id}});
				wrongAnswers++;
				countNewWord++;
				document.getElementById("wrongAnswers").innerText = wrongAnswers;
				randomGameParent();
			}
			document.getElementById('answerWrite').value = "";
			setTimeout(displayWrite, 1000);
		}
		function displayWrite()
		{
	// Display thanh New words remaining
	var remaining = Math.ceil(countNewWord / items[0].length * 100);
	document.getElementsByClassName("progress-bar")[0].setAttribute("style", "width:" + remaining + "%");
	document.getElementsByClassName("progress-bar")[0].innerText = remaining + "%";
	if(countNewWord == items[0].length)
	{
		setTimeout(end, 500);
	}
	else
	{
		//display new word
		document.getElementById('newWord_write').innerText = items[0][countNewWord];
	}
}

function end()
{
	alert("Chúc mừng bạn đã hoàn thành khóa học")
	location.reload();
}
function plusPoints(Term, CategoryID_id){
	var xhttp;
	if (Term == "") {
		document.getElementById("Category").innerHTML = "";
		return;
	}
	xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {

		}
	};
	xhttp.open("GET", "/user/plusPoints/"+Term+"/"+CategoryID_id, true);
	xhttp.send();

}
function subtractPoints(Term, CategoryID_id){
	var xhttp;
	if (Term == "") {
		document.getElementById("Category").innerHTML = "";
		return;
	}
	xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {

		}
	};
	xhttp.open("GET", "/user/subtractPoints/"+Term+"/"+CategoryID_id, true);
	xhttp.send();

}
</script>
<div style="width: 100%; margin-top: 200px;">
	{% include "footer.html" %}
</div>
</body>
</html>