<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styleMemoryCard.css' %}">
	<title>Memory Game</title>
</head>
<body>
	<!-- Header content -->
    {% include "toolbarUser.html" %}
	<div class="container-xl">
		<div class="row">
			<div id="header" class="col-12">
				<div class="title">Card flip game</div>
				<div class="row">
					<div class="col-3">

					</div>
					<div class="col-6">
						<div class="key"> New Game</div>
					</div>
					<div class="col-3">

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END header -->
	<!-- section content -->
	<div class="container-xl">
		<div class="row">
			<div id="content-wrapper">
				<ul class="cardHolder">

				</ul>
			</div>
		</div>
	</div>
	<!-- END section -->
	<script>
		// Game
		const board       = document.getElementsByClassName('cardHolder')[0];
		/*const cards       = [[1, "Hello"],[1, "Xin chao"],[2, "He"],[2, "Anh ay"],[3,"She"],[3,"Co ay"]];*/
		const cards = new Array();
		{% for i in newWord %}
			cards.push(["{{i.id}}","{{i.Definition}}"]);
			cards.push(["{{i.id}}","{{i.Term}}"]);
		{% endfor %}
		let   gameStarted = false;

// Selections
let cardValue  = [];
let card_tile  = [];
let cardHold   = [];    // Cards that is flipped and matches
let selections = null;
let flipped    = null;

// Shuffle function
Array.prototype.shuffle = function() {
	let i = this.length, j, temp;
	while (--i > 0) {
		j = Math.floor(Math.random() * (i + 1));
		temp = this[j];
		this[j] = this[i];
		this[i] = temp;
	}
}

/* Add cards to board */
function newGame() {

    // Don't generate if there already is a game
    if (gameStarted)
    	return;

    cards.shuffle();
    flipped = 0;

    // Clear board if its filled already
    clearBoard();

    for (let i = 0; i < cards.length; i++) {

        // first create new li
        const cardLi = document.createElement('li');
        cardLi.classList.add('tileboard');

        // create the card class
        const card = document.createElement('div');
        card.classList.add('card');      // Assign className to new element
        card.classList.add(`tile_${i}`); // set identifier for card

        // the clickSelector
        card.setAttribute('onclick', `flipTile(this, ${cards[i][0]}, '${cards[i][1]}')`);

        // append card to Li, and then that to the board
        cardLi.appendChild(card);
        board.appendChild(cardLi);
    }

    gameStarted = true;
}

/* The flip function */
function flipTile(tile, val, content) {
        // Check if card already is matched or is currently selected
        if (cardHold.includes(tile.classList[1]))
        	return;

        if (card_tile.includes(tile.classList[1]))
        	return;

        // Only process 2 clicks at a time
        selections++;
        if (selections > 2)
        	return;

        // Set background for tile
        tile.innerHTML = `${content}`;
        tile.style.background = "rgb(4, 99, 143) url({% static 'image/white.png' %})";

        // First card selected
        if (cardValue.length === 0) {
        	cardValue.push(val);
        	card_tile.push(tile.classList[1]);            
        }
        
        // Second card selected
        else if (cardValue.length === 1) {
        	cardValue.push(val);
        	card_tile.push(tile.classList[1]);

            // See if they are the same
            if (cardValue[0] == cardValue[1]) {
            	flipped += 2;

                // Save the 2 cards
                cardHold.push(card_tile[0]);
                cardHold.push(card_tile[1]);

                // Reset 
                card_tile = [];
                cardValue = [];
                selections = 0;

                // See if game is finished
                setTimeout(function() {
                	if (flipped == cards.length) {
                		gameStarted = false;
                		if (window.confirm('Congratulations, you made it! Want to play again?'))
                		{
                            // Flip all cards back
                            const tmp = document.querySelectorAll('.card');
                            tmp.forEach(function(e) {
                            	e.style.background = "url({% static 'image/default.png' %})";
                            });

                            // Start new game
                            setTimeout(function() {
                            	resetGame();
                            }, 400);   
                        }

                        else
                        	window.location = 'http://noxies.info/';   
                    }
                }, 750);
            }

            // else flipback
            else {
            	setTimeout(function() {

                    // Change back
                    for (let i = 0; i < card_tile.length; i++) {
                    	const selected = document.querySelector(`.${card_tile[i]}`);
                    	selected.innerHTML = "";
                    	selected.style.background= "url({% static 'image/default.png' %})";
                    }

                    // Reset
                    card_tile = [];
                    cardValue = [];
                    selections = 0;
                }, 750);
            }
        }
    };

    function clearBoard() {
    	var divs = document.querySelectorAll('.tileboard');
    	if (divs.length > 1)
    		Array.from(divs).forEach((div) => div.remove())
    };

// Setup a game on first sight
window.onload = function () {
	newGame();
};

// New game functionallity
const key = document.getElementsByClassName('key')[0];
key.addEventListener('click', () => {
	resetGame();
});


// Reset the board
function resetGame() {

    // Disable game
    gameStarted = false;

    // Empty variables
    cardValue = [];
    card_tile = [];
    cardHold = []; 
    selections = null;
    flipped = null;

    // Clear board
    const divs = document.querySelectorAll('.tileboard');
    divs.forEach(function (e) {
    	e.style.opacity = '0';
    });

    setTimeout(function () {
        newGame(); // Calls resetBoard() aswell, no need to do it in this function
    }, 900);
}

</script>
<div style="width: 100%; margin-top: 200px;">
    {% include "footer.html" %}
</div>
</body>
</html>