<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		body{
			background-color: #ecf0f1;
		}
		.numerical_order{
			float: left;
			color: #95a5a6;
		}
		.material-icons{
			font-size:34px;
			cursor: pointer;
			float: right;
		}
		.card{
			background-color: white;
			margin-top: 20px;
			border-radius: 10px;
		}
		.material-icons:hover{
			color: #2980b9;
		}
		#background_create{
			/*background-color: white;*/
			height: 100px; width: 100%;
			display: flex;
			justify-content: center;
			align-items: center; 
			position: fixed;
			z-index: 10;


		}
		.background_create{
			background-color: white;
			box-shadow: 0px 10px 10px #bdc3c7;
			z-index: 10;
			top: 0;
		}
		.toolbar{
			position: absolute;
		}
	</style>
</head>
<body>
	{% include "toolbarUser.html" %}
	<form action="/user/addNewWord" method="POST" accept-charset="utf-8">
		{% csrf_token %}
		<input type="text" name="idCategory" value="{{Category.id}}" style="display: none;">
		<div id="background_create">
			<div class="container-xl">
				<div class="row">
					<div class="col-8">
						<h5>Create new English topics</h5>
					</div>
					<div class="col-4">
						<div class="row" style="float: right;">
							<button type="submit" class="btn btn-primary" style="margin-right: 10px;">Add newword</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6" style="margin-top: 100px;">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" id="title" value="{{Category.Name}}" name="title" required>
						<label>Description</label>
						<input type="text" class="form-control" id="title" value="{{Category.Description}}" name="description" required>
					</div>
				</div>
				<div class="col-12 col-lg-6">

				</div>

				<div class="col-12" style="height: 100px; background-color: white; text-align: center; display: flex;justify-content: center;align-items: center;border-radius: 5px;box-shadow: 0px 0px 20px 10px #bdc3c7;">
					Add new English words
				</div>

				<div class="col-12">
					<div class="row" id="addCard">
						{% for i in newWord %}
						<div class="col-12 card" id="OldNewWord{{i.id}}">
							<div class="row" style="margin-bottom: 40px;">
								<div class="col-12" style="height: 30px;">
									<h5 class="numerical_order"></h5>
									<i class="material-icons" onclick="deleteNewWord(this.id)" id="{{i.id}}" style="font-size: 32px;">delete_forever</i>
								</div>
								<div class="col-6">
									<label>Terms</label>
									<input type="text" class="form-control" id="title" placeholder="Enter a term" class="term" name="term[]" required value="{{i.Term}}">
								</div>
								<div class="col-6">
									<label>Define</label>
									<input type="text" class="form-control" id="title" placeholder="Enter the definition" class="definition" name="definition[]" required value="{{i.Definition}}">
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="col-12 card" id="card1">
							<div class="row" style="margin-bottom: 40px;">
								<div class="col-12" style="height: 30px;">
									<h5 class="numerical_order"></h5>
									<i class="material-icons" onclick="deleteCard(this.id)" id="1" style="font-size: 32px;">delete_forever</i>
								</div>
								<div class="col-6">
									<label>Terms</label>
									<input type="text" class="form-control" id="title" placeholder="Enter a term" class="term" name="term[]" required>
								</div>
								<div class="col-6">
									<label>Define</label>
									<input type="text" class="form-control" id="title" placeholder="Enter the definition" class="definition" name="definition[]" required>
								</div>
							</div>
						</div>


						<div class="col-12 card" id="card2">
							<div class="row" style="margin-top: 20px; margin-bottom: 40px;">
								<div class="col-12" style="height: 30px;">
									<h5 class="numerical_order"></h5>
									<i class="material-icons" onclick="deleteCard(this.id)" id="2" style="font-size: 32px;">delete_forever</i>
								</div>
								<div class="col-6">
									<label>Terms</label>
									<input type="text" class="form-control" id="title" placeholder="Enter a term" class="term" name="term[]" required>
								</div>
								<div class="col-6">
									<label>Define</label>
									<input type="text" class="form-control" id="title" placeholder="Enter the definition" class="definition" name="definition[]" required>
								</div>
							</div>
						</div>
						<div class="col-12 card" id="card3">
							<div class="row" style="margin-top: 20px; margin-bottom: 40px;">
								<div class="col-12" style="height: 30px;">
									<h5 class="numerical_order"></h5>
									<i class="material-icons" onclick="deleteCard(this.id)" id="3" style="font-size: 32px;">delete_forever</i>
								</div>
								<div class="col-6">
									<label>Terms</label>
									<input type="text" class="form-control" id="title" placeholder="Enter a term" class="term" name="term[]" required>
								</div>
								<div class="col-6">
									<label>Define</label>
									<input type="text" class="form-control" id="title" placeholder="Enter the definition" class="definition" name="definition[]" required>
								</div>
							</div>
						</div>
						<div class="col-12 card" id="card4">
							<div class="row" style="margin-top: 20px; margin-bottom: 40px;">
								<div class="col-12" style="height: 30px;">
									<h5 class="numerical_order"></h5>
									<i class="material-icons" onclick="deleteCard(this.id)" id="4" style="font-size: 32px;">delete_forever</i>
								</div>
								<div class="col-6">
									<label>Terms</label>
									<input type="text" class="form-control" id="title" placeholder="Enter a term" class="term" name="term[]" required>
								</div>
								<div class="col-6">
									<label>Define</label>
									<input type="text" class="form-control" id="title" placeholder="Enter the definition" class="definition" name="definition[]" required>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12" style="text-align: center; margin-top: 40px;">
					<button type="button" class="btn btn-primary" id="btnAddCard">+ Add card</button>
				</div>
			</div>
		</div>
	</form>
	<script>
		var countCard = 4;
		/*Thêm số thứ tự*/
		for(var i = 0; i < $('.numerical_order').length; i++)
		{
			$('.numerical_order')[i].innerHTML = i + 1;
		}
		$(document).ready(function(){
			$("#btnAddCard").click(function(){
				countCard++;
				var text1 = "<div class='col-12 card' id='card"+ countCard +"'><div class='row' style='margin-top: 20px; margin-bottom: 40px;'><div class='col-12' style='height: 30px;'><h5 class='numerical_order'></h5><i class='material-icons' onclick='deleteCard(this.id)' id='"+ countCard +"' style='font-size: 32px;'>delete_forever</i></div><div class='col-6'><label>Terms</label><input type='text' class='form-control' id='title' placeholder='Enter a term' class='term' name='term[]' required></div><div class='col-6'><label>Define</label><input type='text' class='form-control' id='title' placeholder='Enter the definition' class='definition' name='definition[]' required><div></div></div>";

				$("#addCard").append(text1);
				/*Thêm số thứ tự*/
				for(var i = 0; i < $('.numerical_order').length; i++)
				{
					$('.numerical_order')[i].innerHTML = i + 1;
				}
			});
		});

		function deleteCard(id){
			if($('.card').length <= 4)
			{
				alert("Number of terms must not be less than 4");
			}
			else
			{
				$("#card"+id).remove();
				/*Đổi số thứ tự*/
				for(var i = 0; i < $('.numerical_order').length; i++)
				{
					$('.numerical_order')[i].innerHTML = i + 1;
				}
			}
		}
		function deleteNewWord(id){
			if($('.card').length <= 4)
			{
				alert("Number of terms must not be less than 4");
			}
			else
			{
				$("#OldNewWord"+id).remove();
				/*Đổi số thứ tự*/
				for(var i = 0; i < $('.numerical_order').length; i++)
				{
					$('.numerical_order')[i].innerHTML = i + 1;
				}
			}
		}
		/*		csroll*/
		window.onscroll = function() {myFunction()};
		function myFunction() {
			if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
				document.getElementById("background_create").className = "background_create";
				document.getElementById("toolbar").className = "container-xl toolbar";
			} else {
				document.getElementById("background_create").className = "";
				document.getElementById("toolbar").className = "container-xl";
			}
		}
	</script>
	<div style="width: 100%; margin-top: 200px;">
		{% include "footer.html" %}
	</div>
</body>
</html>