/*learn*/
.header_learn
{
	border-right: .125rem solid white; 
	width: 100%; text-align: center;
}
.button_mean{
	width: 80%;
	border-radius: 5px;
	height: 40px;
	border-color: #ecf0f1;
	background-color: #ecf0f1;
}
/*Personal*/
#description{
	margin-bottom: 25px;
}

#new_word_headings{
	font-size: xx-large;
	font-weight: bold;
	margin-top: 10px;
}
.center{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	line-height: 42px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.box_shadow{
	background-color: white;
	box-shadow: 0px 4px 10px #bdc3c7;
	border-radius: 4px;
	margin-top: 20px;
}
.new_word_markup
{
	width: 25px;
	height: 25px;
	margin-top: 13px;
	position: absolute;
}
.function{
	margin-top: 3px;
	width: 4%;
	float: left;
	margin-left: 30px;
}
.fa:hover{
	color: #2980b9;
}
.button_learn
{
	width: 100%; 
	height: 50px; 
	text-align: left !important; 
	font-size: 16px;
	background-color: #ecf0f1;
	border-color: #ecf0f1;
}
.button_learn:hover
{
	background-color: white;
	border-color: white;
}
@media only screen and (max-width: 600px) {
	.header_learn
	{
		text-align: left;
		margin-top: 5px;
	}
	.button_mean{
		width: 100%;
	}
}
.send
{
	font-size:36px !important; 
	color: #3498db; 
	cursor: pointer;
}
.send:hover
{
	color: #2980b9;
}